.container0 {
	display: inline-flex;
	justify-content: center;
	width: 1024px;
	padding: 0 30px;
	font-family: 'Lato', sans-serif;
}
.container1, .container2, .container3, .container4, .container5, .container6 {
	display: inline-flex;
	justify-content: space-between;
	width: 1024px;
	padding: 0 30px;
	font-family: 'Lato', sans-serif;
}
hr {
	border: none;
	background-color: rgb(204, 202, 202);
	color: rgb(204, 202, 202);
	width: 964px;
	height: 4px;
	margin: 10px 30px;
 }
/* Container1 */
.col1 {
	/* height: 100%; */
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: stretch;
}
.col1 h2:first-child {
	margin-top: 0px;
}
.col1 h2 {
	margin-top: 40px;
}
.col2 {
	display: flex;
}
.container0 h1 {
	margin: 10px 0;
	justify-content: center;
}
img {
	width: 50%;
}
.img {
	margin: 0;
	text-align: right;
}
/* Container2 */
.container2, .container3, .container4, .container5, .container6 {
	flex-direction: column;
}
/* Container3 */
.container3  table{
	width: 300px;
}
.container3  td, thead{
	border: 2px solid rgb(204, 202, 202);
	text-align: center;
	width: 100px;
}
.container3 tr:nth-child(2n) {
	background: rgb(241, 241, 241);
 }
 .container3 .coltable1 {
	padding-left: 10px;
	text-align: left;
 }
 /* Container4 */
  a {
	text-decoration: none;
	color: rgb(143, 92, 92);
 }
 a:hover{
	color: rgb(116, 116, 116);
 }
 /* Container5 */
 .container5 li{
	list-style-type: none;
	margin-left: -20px;
 }
 /* Container6 */
 .container6  table{
	width: 600px;
}
.container6  td, thead{
	border: 2px solid rgb(204, 202, 202);
	text-align: center;
	width: 200px;
	padding: 5px;
}
.container6 tr:nth-child(2n) {
	background: rgb(241, 241, 241);
 }
 .coltable1_decor ul{
	position: relative;
	padding: 0;
 }
 .coltable1_decor li{
	position: relative;
	list-style-type: none;
}
 /* Photo-styling */
 .hexagone {
	display: inline-block;
	width: 200px;
	height: 232px;
	margin: 0px;
	transform: rotate(120deg);
	overflow: hidden;
	visibility: hidden;
	transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1)
}
.hex-layer-1 {
	width: 100%;
	height: 100%;
	transform: rotate(-60deg);
	overflow: hidden;
}
.hex-layer-2 {
	width: 100%;
	height: 100%;
	background: #ccc3;
	transform: rotate(-60deg);
	overflow: hidden;
	visibility: visible;
	background: url('me1.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
.row {
	min-width: 600px;
}
.hexagone:hover {
	transform: rotate(-240deg);
	transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1)
}
.row-native:not(:first-child) {
	position: relative;
	top: -60px;
	left: 102px;
}